# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
build/

# Database
*.db
*.sqlite
backend/database.db

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
